.Header {
  height: 69px;
  header {
    background-color: white;
    border-bottom: gold;
    border-style: solid;
    border-width: 0 0 5px 0;

    h5 {
      color: black;
    }

    button {
      color: black;
    }
  }
}